.cardapio-div {
    display: flex;
    margin: 60px auto 20px;
    width: 70%;
    max-width: 1500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    flex-direction: row;
}

.cardapio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem 3rem;
    background: #fff;
    color: #222;
    align-items: center;
    text-align: center;
}

.cardapio h2 {
    text-decoration: underline;
    font-weight: 700;
    color: #961e1e;
    margin-bottom: 0.5rem;
}

.cardapio h2:hover {
    cursor: pointer;
}

.imagem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 900px) {
    .cardapio-div {
        flex-direction: column;
    }
    
    .cardapio {
        padding: 1.5rem; 
    }
}