.cardapio-dia {
    margin: 20px auto;
    max-width: 1500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 8px;
    width: 70%;
    display: block;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.cardapio-dia h2 {
    text-align: center;
    background-color: #961e1e;
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: solid #961e1e 2px;
    position: absolute;
    top: 35%;
    right: 2rem;
    z-index: 10;
    width: 40%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardapio-dia h2:hover {
    color: #961e1e;
    background-color: white;
    border: solid #961e1e 2px;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.cardapio-dia img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 900px) {
    .cardapio-dia h2 {
        font-size: 0.9rem;
        width: 30%;
        height: 40%;
    }
}

@media (max-width: 750px) {
    .cardapio-dia h2 {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .cardapio-dia {
        margin: 20px auto 15px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .cardapio-dia h2 {
        bottom: 1rem;
        right: 1rem;
        width: 45%;
        max-width: 50%;
        height: auto;
        padding: 1.4rem;
        font-size: 0.8rem;
        transition: none; 
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    .cardapio-dia h2:hover {
        transform: none;
        cursor: default;
    }
}

@media (max-width: 480px) {
    .cardapio-dia {
        width: 95%;
    }
}