* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #961e1e;
  color: #fff;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  width: 100%;
  padding: 1rem 2rem;
}

.header-cap {
  font-size: 1.5rem;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: auto;
}

.logo:hover {
  cursor: pointer;
}

.logo p {
  max-width: 45%;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.logo-texto-completo {
  display: inline;
}

.logo-sigla {
    display: none;
}

.logo img {
  padding-right: 20px;
  height: 6rem;
}

.header-options {
  margin: 3rem;
  display: flex;
  gap: 1.5rem;
}

.header-options svg {
  width: 26px;
  height: 26px;
  stroke: #fff;
  transition: transform 0.2s ease, stroke 0.2s ease;
}

.header-options svg:hover {
  transform: scale(1.15);
  stroke: #f1f1f1;
  cursor: pointer;
}

body {
  background-color: #f9f9f9;
}

@media (max-width: 480px) {
  .header {
    height: 6rem;
  }

  .logo {
      flex-direction: column;
      text-align: center;
      gap: 0.2rem;
  }
  
  .header-content {
      justify-content: center;
      padding-top: 1.5rem;
  }

  .logo img {
      height: 3rem;
      padding-right: 0;
  }

  .logo p {
      max-width: none;
  }

  .logo-texto-completo {
      display: none;
  }

  .logo-sigla {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      margin-top: 5px;
  }

  .header-cap {
      display: none;
  }
  
  .header-options {
      display: none;
  }
}
