.menu {
    margin: 2rem auto;
    background: f5f5f5;
    width: 70%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 8px;
}

.menu-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: #e4e4e4;
    border-bottom: 2px solid #ccc;
    justify-content: flex-end;
}

.options {
    display: flex;
    gap: 2rem;
}

.options-btn {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #bbb;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);

    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.options-btn:hover {
    cursor: pointer;
    background-color: #961e1e;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transform: translateY(-2px);
}

.options-btn.active {
    background-color: #e4e4e4;
    color: black;
    box-shadow: none;
    transform: translateY(-2px);
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
    padding: 2rem 2rem;
    justify-items: center;
    background: #f9f9f9;
    text-align: center;
}

.items p {
    margin: 0.5rem;
    font-weight: 500;
}

.items-div {
    padding-top: 0.7rem;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px;
    width: 100%;
    max-width: 150px;
}

.items p {
    margin: 0.5rem;
    font-weight: 500;
    word-break: break-word;
    overflow-wrap: break-word;
}

.items-div img {
  aspect-ratio: 1 / 1;
  height: 8rem;
  border-radius: 8px;
}

.items-div:hover {
    cursor: pointer;
    transform: scale(1.05);
}